body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Fondo negro */
}

.content {
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #ff0000; /* Texto rojo */
}

img {
    max-width: 100%;
    margin-top: 20px;
}
